{% extends 'base.html.twig' %}

{% block title %}Betaal{% endblock %}

{% block body %}
    <h1>Betaal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ betaal.id }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ betaal.userId }}</td>
            </tr>
            <tr>
                <th>Soort</th>
                <td>{{ betaal.soort }}</td>
            </tr>
            <tr>
                <th>Rekening_nr</th>
                <td>{{ betaal.rekeningNr }}</td>
            </tr>
            <tr>
                <th>Creditcard_nr</th>
                <td>{{ betaal.creditcardNr }}</td>
            </tr>
            <tr>
                <th>Betaaldate</th>
                <td>{{ betaal.betaaldate ? betaal.betaaldate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('betaal_index') }}">back to list</a>

    <a href="{{ path('betaal_edit', {'id': betaal.id}) }}">edit</a>

    {{ include('betaal/_delete_form.html.twig') }}
{% endblock %}
